# [dbo].[tbl_country]

In [0]:
USE [Demotest]
GO

In [0]:
/****** Object:  Table [dbo].[tbl_country]    Script Date: 01-12-2023 10:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_country](
	[country_id] [int] IDENTITY(1,1) NOT NULL,
	[country_name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tbl_state]

In [0]:
/****** Object:  Table [dbo].[tbl_state]    Script Date: 01-12-2023 10:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_state](
	[state_id] [int] IDENTITY(1,1) NOT NULL,
	[state_name] [varchar](100) NULL,
	[country_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[state_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tbl_country]

In [0]:
SET IDENTITY_INSERT [dbo].[tbl_country] ON 
INSERT [dbo].[tbl_country] ([country_id], [country_name]) VALUES (1, N'India ')
INSERT [dbo].[tbl_country] ([country_id], [country_name]) VALUES (3, N'America')
INSERT [dbo].[tbl_country] ([country_id], [country_name]) VALUES (4, N'China')
SET IDENTITY_INSERT [dbo].[tbl_country] OFF
GO

# [dbo].[tbl_state]

In [0]:
SET IDENTITY_INSERT [dbo].[tbl_state] ON 
INSERT [dbo].[tbl_state] ([state_id], [state_name], [country_id]) VALUES (1, N'Uttar Pradesh', 1)
INSERT [dbo].[tbl_state] ([state_id], [state_name], [country_id]) VALUES (2, N'Florida', 3)
INSERT [dbo].[tbl_state] ([state_id], [state_name], [country_id]) VALUES (4, N'Wohan', 4)
SET IDENTITY_INSERT [dbo].[tbl_state] OFF
GO

# [FK__tbl_state__count__267ABA7A]

In [0]:
ALTER TABLE [dbo].[tbl_state]  WITH CHECK ADD FOREIGN KEY([country_id])
REFERENCES [dbo].[tbl_country] ([country_id])
GO

# [dbo].[sp_country]

In [0]:
/****** Object:  StoredProcedure [dbo].[sp_country]    Script Date: 01-12-2023 10:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_country]
@country_id int=0,
@country_name varchar(100)=null,
@action int=0
AS
BEGIN
	if(@action=1)
	begin
		insert into tbl_country values (@country_name);
	end
	if(@action=2)
	begin
		select * from tbl_country;
	end

	if(@action=3)
	begin
		select * from tbl_country where country_id=@country_id;
	end

	if(@action=4)
	begin
		update tbl_country set country_name=@country_name where country_id=@country_id;
	end

	if(@action=5)
	begin
		delete from tbl_country where country_id=@country_id;
	end
END
GO

# [dbo].[sp_state]

In [0]:
/****** Object:  StoredProcedure [dbo].[sp_state]    Script Date: 01-12-2023 10:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_state]
@state_id int=0,
@state_name varchar(100)=null,
@country_id int=0,
@action int=0
AS
BEGIN
	if(@action=1)
	begin
	insert into tbl_state values (@state_name,@country_id);
	end

	if(@action=2)
	begin
	select tbl_state.*,tbl_country.country_name from tbl_state left join tbl_country on tbl_state.country_id=tbl_country.country_id;
	end

	if(@action=3)
	begin
	select * from tbl_state where state_id=@state_id;
	end

	if(@action=4)
	begin
		update tbl_state set state_name=@state_name where state_id=@state_id; 
	end

	if(@action=5)
	begin
		delete from tbl_state where state_id=@state_id;
	end
	if(@action=6)
	begin
		select * from tbl_state;
	end
END
GO